@import '../../../assets/globalStyle.scss';

.item_container-content {
	height: 2rem;
	line-height: 20px;
	width: 100%;
	position: relative;
	text-align: left;
	padding: 4px;
	font-size: 1rem;
	border: 0;
	background-color: $bg-color;

	.item_container-title {
		float: left;
		width: 100%;
	}
}

.item_container-content:after {
	content: '';
	position: absolute;
	border: solid black;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top: 12px;
	right: 8px;
}

.item_container-content:hover {
	@include bb(2px, solid, $bg-color-hover)
}

.edit_form {
	width: 100%;
	@include d-flex(space-between, self-start);
	margin-bottom: 20px;
	margin-top: 12px;

	.edit_form-input {
		width: 49%;
		margin-right: auto;
		
		.edit_form-taskname {
			input {
				width: 100%;
				font-size: 1rem;
				padding: 4px 4px 4px 4px;
				border: 0;
				border-bottom-color: currentcolor;
				border-bottom-style: none;
				border-bottom-width: 0px;
				border-bottom-color: currentcolor;
				border-bottom-style: none;
				border-bottom-width: 0px;
				background-color: rgb(250, 250, 250);
				@include bb(1px, solid, $bg-color-hover);
				outline: none;
			}
		}

		.edit_form-des {
			height: 6.9rem;
			width: 100%;
			resize: none;
			border: 0;
			font-size: 0.8rem;
			padding: 0 0 0 4px;
			background-color: $bg-color;
			outline: none;
			@include bb(1px, solid, $bg-color-hover);
		}
	}

	.edit_form-options {
		width: 49%;
		margin-left: auto;

		.edit_category, .edit_priority, .edit_date  {
			margin-bottom: 8px;

			.option_box-title {
				font-size: 0.8rem;
			}
		}

		.edit_category-options, .edit_priority-option {
			height: 100%;
			font-size: 0.9rem;
			border: 0;
			background-color: $bg-color;
		}	

		.option_box-date {
			height: 100%;
			font-size: 0.9rem;
			border: 0;
			background-color: $bg-color;
		}
	}

	.action_edit {
		width: 40%;
		@include d-flex(space-between, center);

		.action_edit-done, .action_edit-del {
			width: 49%;
			height: 1.4rem;
			font-size: 0.9rem;
			border: 0;
			border-radius: 4px;
		}

		.action_edit-done {
			background-color: #1ff41f;
		}

		.action_edit-del {
			background-color: #fe2222;
		}
	}
}